@import "../../../../../../styles/colors";

.mainView {
  display: flex;
  justify-content: start;
  align-items: center;

  & .listItemView {
    margin-right: 24px;
    text-decoration: none;

    & .contentItemView {
      text-align: center;

      & .textItemView {
        font-size: 15px;
        line-height: 24px;
        font-weight: bold;
        color: #FFF;
        padding-bottom: 9px;
        text-decoration: none;
        text-transform: uppercase;
      }
    }
  }

  & .activeListView {
    margin-bottom: -1px;
    border-bottom: 1px solid $secondary-color;

    & .contentItemView {
      & .textItemView {
        color: $secondary-color;
      }
    }
  }
}
