@import "../../../../styles/colors";
@import "../../../../styles/breakpoints";

.sectionTovs {
  padding-right: 0;
  padding-left: 0;

  @include for-tablet-portrait-only {
    width: 100%;
  }
  @include for-tablet-landscape-up {
    width: 852px;
  }
  @include for-desktop-up {
    width: 902px;
  }
  @include for-big-desktop-up {
    width: 1142px;
  }

  & a {
    color: $secondary-color;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
  }

  & .tovs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -8px;
  }
}
