@import "../../../../styles/colors";

.mainView {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #{$primary-color}99;
  padding: 20px;
  margin-bottom: 16px;
  background-image: url("./SigninBackgroundLarge.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 2px;
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12),
    0 2px 4px 0 rgba(0, 0, 0, .2);

  & .leftPart {
    color: #FFF;
    width: 60%;
    display: inline-block;
    z-index: 1;

    & .tabTitle {
      color: $secondary-color;
      font-size: 18px;
      font-weight: bold;
      line-height: 26px;
      text-shadow: 0 0 8px 0 rgba(0, 0, 0, .7);
      margin: 0;
      margin-bottom: 8px;
    }
    & .tabDescription {
      font-size: 13px;
      line-height: 20px;
      text-shadow: 0 0 8px 0 rgba(0, 0, 0, .7);
      margin: 0;
    }
  }

  & .rightPart {
    width: 40%;
    display: inline-block;
    margin: 0 auto;
    justify-content: center;
    z-index: 1;

    & .buttonView {
      float: right;
      //background-color: $secondary-color;
      //color: #FFF;
    }
  }
}

.overlayView {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    180deg,
    rgba(0,0,0,0.9) 0%,
    rgba(0,0,0,0.6) 100%
  );
  z-index: 0;
}