.mainView {
  margin-top: 75px;
  margin-bottom: 24px;
  color: #FFF;

  & .contentView {
    flex-basis: 100%;
    width: 100%;
    margin-top: 66px;
    padding-bottom: 24px;

    & .casesOpenedView {
      width: 252px;
      margin: 0 auto;
    }
    & .tradeLinkView {
      margin-top: 56px;
    }
    & .inventoryView {
      position: relative;
      margin: 66px 0;
    }
  }
}